.deliverables {
  background: rgba(10, 81, 105, 0.05) 0 0 no-repeat;
}
.matterport {
  display: flex;
  justify-content: space-between;
}
.matterport div {
  width: 90%;
  height: auto;
}
.deliverables-text h1,
.carousel h1,
.true-sketch h1 {
  font-size: 28px;
  padding-bottom: 25px;
  text-align: center;
}
.carousel,
.true-sketch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.sketches {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.sketches img {
  width: 49%;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  height: 440px;
  margin: 1px;
}
.carousel-item img {
  width: 70% !important;
  height: 80% !important;
  margin: 0 auto !important;
}
.carousel-indicators {
  padding-top: 40px !important;
}
.carousel-indicators li {
  border-radius: 50% !important;
  width: 11px !important;
  height: 11px !important;
  border-bottom: none !important;
  border-top: none !important;
  margin: 0px 6px 0px 6px !important;
  background: #cbcbcb !important;
}
.carousel-indicators li.active {
  background: var(--green) !important;
}
.slide {
  padding: 15px 0 60px !important;
}
.carousel-control-next-icon {
  background-image: url("../../static/images/next.png") !important;
  width: 50px !important;
  height: 50px !important;
}
.carousel-control-prev-icon {
  background-image: url("../../static/images/prev.png") !important;
  width: 50px !important;
  height: 50px !important;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}
@media screen and (max-width: 768px) {
  .matterport {
    flex-wrap: wrap;
  }
  .matterport div {
    width: 100%;
  }
  .matterport iframe {
    width: 100% !important;
  }
  .sketches {
    flex-direction: column;
  }
  .sketches img {
    width: 100%;
  }
  .sketches img:first-of-type {
    margin-bottom: 20px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .carousel-item img {
    width: 100% !important;
  }
}
