.main-navbar {
  background-color: transparent;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 999;
}

.main-navbar.active {
  background-color: white !important;
  box-shadow: 0 1px 4px #bababa;
}

.main-navbar.active .nav-links {
  color: #4a4848 !important;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 90%;
}

.navbar-logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-top: 15px;
}
.nav-item button {
  background: #3ac280 0 0 no-repeat padding-box;
  border: 1px solid var(--green);
  color: white;
  border-radius: 20px;
  height: 30px;
  padding: 5px 25px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-left: 7%;
  white-space: nowrap;
  outline: none !important;
}
.nav-links {
  display: flex;

  align-items: center;
  text-decoration: none !important;
  color: white;
  font-size: 12px;
  margin: 0 0.5rem;
  line-height: 32px;
  height: 100%;
  line-height: 32px;
  font-weight: 400;
}

.nav-links:hover {
  color: var(--green);
}

.fa-bars {
  color: #242222;
}

.menu-icon {
  display: none;
}
.navbar-logo img {
  max-width: 200px;
}
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--white);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: block;
  }

  .menu-icon {
    font-size: 2rem;
    display: block;
    cursor: pointer;
  }
}
