.container {
  margin: 0 auto !important;
  max-width: 1100px !important;
  width: 90% !important;
}

.what-we-do-section {
  display: flex;
  justify-content: space-between;
}

.title {
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-image: url(../../static/images/download.png);
  text-align: left;
  padding-top: 10%;
  padding-left: 8%;
  background-position: 0 16px;
}
.title h1 {
  font-weight: 500;
  font-style: bold;
  max-width: 400px;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  text-align: left;
}
.sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -0.19px;
  color: #000;
  opacity: 1;
  padding-top: 10%;
  max-width: 530px;
}
.image-comparison {
  padding: 50px 50px 0px;
  height: auto;
}
.image-comparison > div > div {
  height: 80% !important;
}

@media screen and (max-width: 1024px) {
  .sub-title {
    max-width: 430px;
    margin-left: 20px;
  }
  .title h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding: 25% 7%;
    text-align: center;
    background-position: 50%;
    font-size: 28px;
    line-height: 32px;
    margin: 5% 0;
  }
  .image-comparison {
    padding: 50px 0;
  }
  .what-we-do-section {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .title h1 {
    font-size: 28px;
    text-align: center;
    line-height: 32px;
  }
}
