.css-wrrl2p-WaterFall {
  list-style: none;
  padding: 0px 15px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.css-wrrl2p-WaterFall li {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: rgb(211, 211, 211);
  height: 20px;
  line-height: 60px;
  color: rgb(132, 167, 179);
  font-size: 12px;
  font-weight: 600;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: rgb(10, 81, 105);
}
.rangeslider {
  background: #dff1eb;
}
.rangeslider-horizontal .rangeslider__handle::after {
  display: none;
}
.rangeslider__handle {
  border: 4px solid var(--green) !important;
  box-shadow: none;
}
.rangeslider__handle:focus {
  border: none;
  outline: none;
}
.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.slider-data {
  width: 195px;
  height: 108px;
  margin: 30px auto 15px;
  padding: 25px 0;
  text-align: center;
  background: #0a5169;
  border-radius: 10px;
  position: relative;
}
.info-icon {
  color: #dff1eb;
  position: absolute;
  right: 4%;
  top: 10%;
}
.data-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.data-value label {
  margin: 0;
  line-height: 30px;
  font-size: 28px;
}
.data-value span {
  font-size: 12px;
}
