.css-wrrl2p-WaterFall {
  list-style: none;
  padding: 0px 15px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.css-wrrl2p-WaterFall li {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: rgb(211, 211, 211);
  height: 20px;
  line-height: 60px;
  color: rgb(132, 167, 179);
  font-size: 12px;
  font-weight: 600;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: rgb(10, 81, 105);
}
.rangeslider {
  background: #dff1eb;
}
.rangeslider-horizontal .rangeslider__handle::after {
  display: none;
}
.rangeslider__handle {
  border: 4px solid var(--green) !important;
}
